
{% extends 'layout.html'%}

{%block body%}



  <div class="jumbotron text-center">
    <h1>The total students in our class are {{ts}}</h1>
    <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
    
   
  </div>
  <!--

<body style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="C:\Users\SSS\Videos\Downloads\Desktop\Ashok\Students data for UI demo (1).xlsx" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>
</body>
 --> 



{%endblock%}


