

{% extends 'layout.html'%}

{%block body%}

      <div>{{name1}}</div>
      <div><img src='data:image/png;base64,{{graph1}}'></img></div>
  <!--
      
      <div>{{name2}}</div>
      <div><img src='data:image/png;base64,{{graph2}}'></img></div>

      <div>{{name3}}</div>
      <div><img src='data:image/png;base64,{{graph3}}'></img></div>
      
      <div>{{name4}}</div>
      <div><img src='data:image/png;base64,{{graph4}}'></img></div> 
         
     -->

   
    
{%endblock%}  
